[submodule "dApps/zeroid/lib/forge-std"]
	path = dApps/zeroid/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dApps/zeroid/lib/openzeppelin-contracts"]
	path = dApps/zeroid/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
